# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/

# Build files
dist/
build/
.cache/

# Runtime files
*.swp
*.swo
*.swn

# Environment files
.env
.env.*


# Rust
/target/
/Cargo.lock
**/*.rs.bk

# Rust-specific
**/*.dSYM
*.rs.bk
target/
